<mat-sidenav-container class="chat-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-list>
      <div class="row">
        <h3>Participants</h3>
        <button mat-raised-button color="warn" (click)="logout()">Logout</button>
      </div>
      <mat-list-item *ngFor="let user of users()">{{ user.login }}</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <cdk-virtual-scroll-viewport itemSize="50" class="chat-messages" (scrolledIndexChange)="loadMoreMessages()">
      <div *cdkVirtualFor="let message of messages()" [class.self]="message.userId === currentUser()?.id" class="message">
        <div class="timestamp">{{ message.createdAt | date:'short' }}</div>
        <div>{{ message.text }}</div>
      </div>
    </cdk-virtual-scroll-viewport>

    <div class="input-area">
      <mat-form-field class="message-input">
        <input matInput [formControl]="messageControl" placeholder="Type a message...">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
